@import '~bootstrap/scss/bootstrap';
@import './_mixins.scss';

:root {
  --local-fonts:
    -apple-system, 
    BlinkMacSystemFont, 
    Segoe UI, 
    Roboto, 
    Oxygen,
    Ubuntu, 
    Cantarell, 
    Fira Sans, 
    Droid Sans, 
    Helvetica Neue, 
    sans-serif,
    Menlo, 
    Monaco, 
    Lucida Console, 
    Liberation Mono, 
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono, 
    Courier New, 
    monospace;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 30, 30, 30;
}

html,
body {
  font-family: var(--local-fonts);
}

a {
  color: inherit;
  text-decoration: none;
}

* { box-sizing: border-box; }

.bg-custom {
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 0.6),
    rgba(var(--background-end-rgb), 0.2)
    );
  background-clip: padding-box;
  backdrop-filter: blur(10px);
}

.logo { @include img_color_inverted; }

.navbar {
  .navbar-toggler,
  .navbar-toggler:focus, 
  .navbar-toggler:active, 
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
  .navbar-toggler {
    position: relative;
    width: 20px;
    height: 20px;
    transition: .5s ease-in-out;
    span { @include zero_mp; }
    .custom-toggler-icon {
      position: absolute;
      right: 0;
      width: 100%;
      height: 3px;
      display: block;
      opacity: 1;
      border-radius: 10px;
      transform: rotate(0deg);
      background: white;
      transition: .25s ease-in-out;
    }
    .mid-bar {
      margin-top: 0;
      width: 35%;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .top-bar { 
      margin-top: 0;
      width: 100%;
      transform: rotate(135deg); 
    }
    .low-bar { 
      margin-top: 0;
      width: 75%;
      transform: rotate(-135deg); 
    }
  }
  .navbar-toggler.collapsed {
    .top-bar { 
      margin-top: -20px; 
      transform: rotate(0deg); 
    }
    .mid-bar { 
      opacity: 1; 
      filter: alpha(opacity=100); 
    }
    .low-bar { 
      margin-top: 20px; 
      transform: rotate(0deg); 
    }
  }
  #navbarNav {
    .navbar-nav {
      margin-left: auto;
      font-size: 12px;
      @include media-breakpoint-up(sm) { font-size: 1rem; }
      @include media-breakpoint-down(lg) { text-align: center; }
      ul {
        li {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
  body {
    color: white;
    background: black;
  }
}
